<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.RegionMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Region" >
    <id column="id" property="id"  />
   <!--  <result column="create_date" property="createDate"  />
    <result column="modify_date" property="modifyDate"  /> -->
    <result column="orders" property="orders" />
    <result column="name" property="name"  />
    <result column="tree_path" property="treePath"  />
    <result column="parent" property="parent" />
    <result column="full_name" property="fullName" />
  </resultMap>
	<!-- 批量添加 -->
    <insert id="addRegion" useGeneratedKeys="true" parameterType="java.util.List">  
        <selectKey resultType="long" keyProperty="id" order="AFTER">  
            SELECT  
            LAST_INSERT_ID()  
        </selectKey>  
        insert into xx_area (id,orders,name,tree_path,parent,full_name)   
        values  
        <foreach collection="list" item="item" index="index" separator="," >  
            (#{item.id},#{item.orders},#{item.name},#{item.treePath},#{item.parent},#{item.fullName})  
        </foreach>  
    </insert>  
<!-- 查询省 -->
	<select id="queryS" resultMap="BaseResultMap" parameterType="com.jk.model.Region">
			select * from xx_area where parent is null;
	</select>
	<!-- 查询市县 -->
	<select id="queryShi" resultMap="BaseResultMap" parameterType="java.lang.Integer">
			select * from xx_area where parent=#{id}
	</select>
</mapper>